.section {
    margin-bottom: 130px;
    h3 {
        color: #1192fd;
        text-align: center;
        font-weight: bold;
        border-bottom: 4px solid;
        width: 250px;
        margin: 0 auto;
        padding-bottom: 15px;
        margin-bottom: 50px;
    }
}

.about {
    &-banner {
        h1 {
            color: white;
            text-align: center;
        }
        p {
            color: white;
            text-align: center;
        }
    }
    &-content {
        margin: 100px 0;
        p {
            font-size: 18px;
            span {
                color: #1192fd;
                font-weight: bold;
            }
        }
    }
    &-values {
        &-item {
            border: 1px solid #ccc;
            background: #f3f3f3;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            img {
                padding: 45px;
            }
            h4 {
                color: #1092fd;
            }
        }
    }
    &-reserch {
       &-content {
           p {
               font-size: 18px;
           }
       }
    }
    &-partners {
        img {
            height: 200px;
            object-fit: cover;
            filter: grayscale(1);
            transition: 250ms;
            cursor: pointer;
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}
