.contact {
    &-block {
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid #ddd; */
        padding: 20px;
        border-radius: 4px;
        &-form {
            width: 50%;
            margin-top: 25px;
        }
    }
}
