footer {
    background: #191919;
    color: white;
    padding-bottom: 20px;
    p {
        margin: 0;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: white;
            }
        }
    }
    ul {
        list-style: none;
        margin-top: 25px;
        li {
            padding: 5px 0;
            a {
                color: white;
                img {
                    width: 30px;
                    margin-right: 15px;
                }
                &:hover {
                    text-decoration: none;
                    color: #dddddd;
                }
            }
        }
    }
}
