header {
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 2px 7px -5px;
    a {
        &:hover {
            text-decoration: none;
            color: black;
        }
    }
    nav {
        padding: 0 70px;
    }
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0 15px;
            a {
                text-decoration: none;
                color: #34434c;
                font-weight: bold;
                &.active {
                    border-bottom: 2px solid #518ee6;
                }
                &:hover {
                    border-bottom: 2px solid #518ee6;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.85);

                }
            }
        }
    }
}
