.home-banner {
    h1 {
        font-weight: bold;
        color: white;

        & + p {
            font-size: 27px;
        }
    }

    p {
        color: white;
    }

}

.home-about {
    margin-top: 100px;
    position: relative;

    .col-md-6 {
        img {
            border-radius: 5px;
        }
    }

    p {
        line-height: 35px;
    }

    &-colba {
        position: absolute;
        top: 15%;
        left: 5%;
        animation: animateColba 3s linear infinite;;
    }

    &-colba2 {
        position: absolute;
        bottom: 15%;
        right: 5%;
        background: #36bdef;
        border-radius: 50%;
        animation: animateColba2 2s linear infinite;
    }

    &-project {
        &-image {
            border-radius: 5px;
        }

        .product_layer {
            position: absolute;
            width: 225px;
            z-index: 9;
            left: 33%;
            bottom: -55px;
        }

        .product_layer_2 {
            position: absolute;
            width: 125px;
            left: 67%;
            bottom: 27px;
            z-index: 99;
        }

        margin: 80px 0;

        h3 {
            padding-bottom: 40px;
        }
    }
}

@keyframes animateColba {
    10% {
        top: 15%;
    }

    50% {
        top: 10%;
    }
    100% {
        top: 15%;
    }
}

@keyframes animateColba2 {
    10% {
        bottom: 15%;
    }

    50% {
        bottom: 10%;
    }
    100% {
        bottom: 15%;
    }
}

.df-btn {
    background: #36bdef;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }
}

.doctor {
    background: #607dea;
    padding: 30px;
    color: white;

    p {
        font-size: 25px;

    }
}

.home-advantages {
    margin: -100px 0;

    &-item {
        background: white;
        padding: 19px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, .05);
        margin-bottom: 120px;
        border-radius: 5px;
        min-height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 200ms;

        &:hover {
            margin-top: -10px;
            background: #36bdef;

            p {
                color: white;
            }

            svg {
                color: white;
                transform: rotate(160deg);
            }
        }

        svg {
            font-size: 35px;
            transition: 200ms;
        }

        &-title {
            font-size: 17px;
            font-weight: bold;
        }
    }
}

.slick-initialized .slick-slide {
    display: flex !important;
}

.slick-slide {
    outline: none;
}

.slick-prev {
    background: no-repeat;
    border: none;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    outline: none !important;

    svg {
        font-size: 41px;
        color: black;
        outline: none !important;
    }
}

.slick-next {
    border: none;
    background: none;
    right: -10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none !important;

    svg {
        font-size: 41px;
        color: black;
        outline: none !important;
    }
}

.home-contact {
    margin: 80px 0;

    H2 {
        text-align: center;
        padding-bottom: 75px;
    }

    &-info {
        position: absolute;
        width: 100%;
        top: 26px;
        height: 555px;
        background: #36bdef;
        left: -71%;
        z-index: 99;
        padding: 20px;
        box-shadow: 0 1px 34px 10px #ddd;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        svg {
            color: white;
        }

        h3 {
            color: white;
        }

        p {
            color: white;
        }
    }

    h3 {
        padding-bottom: 40px;
    }

    .form-control {
        padding: 23px !important;
        resize: none !important;
    }

    &-after-form {
        padding: 25px;
        box-shadow: 0 0 46px -1px #ddd;
        border-radius: 3px;

        form {
            padding-left: 45%;
        }
    }
}

.home-industries {
    margin: 100px 0;

    h3 {
        padding-bottom: 45px;
    }

    .industries {
        .industry {
            img {
                width: 100%;
                height: 215px;
                object-fit: cover;
                margin-bottom: 15px;
                border-radius: 5px;
            }
        }
    }
}

.slick-track {
    margin: auto;
}

.partners {
    h2 {
        padding: 55px;
        text-align: center;
        font-weight: bold;
    }
}

.partners-slider {
    &-item {
        border-radius: 5px;
        height: 124px !important;
        padding: 20px;
        margin: 0 20px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.wrap {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;

    .slider {
        position: relative;
        z-index: 200;
        padding: 0 0px;
        margin: 5rem auto;
        max-width: 1000px;
        width: 100%;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 50px;
        line-height: 50px;
        margin-top: -25px;
        border: none;
        background: transparent;
        color: #fff;
        font-family: monospace;
        font-size: 5rem;
        z-index: 300;
        outline: none;
    }

    .slick-prev {
        left: -70px;
        text-align: left;
    }

    .slick-next {
        right: -50px;
        text-align: right;
    }


    .item.slick-slide {
        width: 400px;
        height: 520px !important;
        transition: transform .4s;
        position: relative;

        img {
            border-radius: 5px;
        }

        h4 {
            border-radius: 5px;
            background: #36bdef;
            text-align: center;
            display: table;
            margin: 0 auto;
            padding: 15px 33px;
            color: white;
        }
    }

    .slick-slide:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        transition: transform .4s;
    }

    .item.slick-slide {
        transform: scale(0.7) translate(640px);
    }

    .item.slick-slide.slick-center + .slick-slide {
        transform: scale(0.8) translate(-250px);
        z-index: 10;
    }

    .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
        transform: scale(0.7) translate(-640px);
        z-index: 5;
    }

    .item.slick-slide.slick-active {
        transform: scale(0.8) translate(250px);
    }

    .item.slick-slide.slick-center {
        /* margin: 0 -10%; */
        transform: scale(1);
        z-index: 30;
        border-radius: 5px;
    }

    .slick-center:after {
        opacity: 0;
    }
}

.wrap:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


