.news-container {
    &-item {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 25px 0;
        border-radius: 5px;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
        img {
            margin-bottom: 13px;
        }
        h4 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}
.news-desc-more {
    display: none;
    overflow-y: auto;
    height: 130px;
}
