.projects {
    padding: 100px 0;
    &-item {
        margin: 30px 0;
        box-shadow: 0 6px 12px 0 rgb(0 0 0 / 12%);
        border-radius: 5px;
        padding: 0 25px 0 0;
        cursor: pointer;
        transition: 200ms;
        img {
            border-radius: 5px;
        }
        &:hover {
            box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.12);
        }
    }
}
